
@{
    ViewBag.Title = "Index";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Missions</a></li>
    <li class="active">@ViewBag.missionName</li>
</ol>
<h2>Index</h2>

<!--
    
mission name
mission president’s name
mission address
language
climate
dominate religion
a flag or symbol for the mission.

-->