@model IEnumerable<Project1.Models.Mission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
       Mission List <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "Detail", "Mission", new {id = item.ID}, null)</li>
        }
    </ul>
</div>